html {
	box-sizing: border-box;
	height: 100%;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
.blog_list {
	margin-top:2%;
}
.card {
	width: 5px;
	height: 20%;
	padding:10px;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

.blog_images{
	width:100%;
	border-radius: 10px;
	height:300px;
}