.myAccount{
	margin-top: 2%;
	padding:3%;
}
.myAccount_userInformation {
	width: 40%;
	position: absolute;
  	left: 0px;
	margin-left: 5%;
	margin-top:5%;
}

.myAccount_userMenu {
width: 40%;
position: absolute;
  right: 0px;
  margin-right: 15%;
  margin-top:5%
}

.myAccount_userInformation_cardText {
	padding:3%;
}

.myAccount_userInformation_listGroup{
	display: block; 
	margin: 0px 
	auto;
}

.myAccount_profileImage{
	display: block; 
	margin: 0px 
	auto; 
}
.myAccount_imageUploader{
	text-align: center;
}
h2{
	text-align: center;
	padding:3%;
}

.myAccount_resetPassword, .myAccount_deleteUser, .myAccount_blog, .myAccount_community {
	cursor: pointer;
}

.myAccount_resetPassword_form {
	width:40%;
position: absolute;
  right: 0px;
  margin-right: 10%;
  margin-top:5%
}

.myAccount_resetPassword_alert{
	margin-top:2%
}


.myAccount_userMenu_firstLine, .myAccount_userMenu_secondLine {
	margin-bottom:5%;
}